.serial-no-row-custom{
    background-color: bisque;
   // background-color: linear-gradient(to bottom, #ffe4c4 0%, #696969 100%);
    //--background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
    font-weight: bolder;
    padding: 5px;
}
.quo-btn-custom{
    --height: 30px !important;
    height: 30px !important;
}
.doc-custom{
    background-color:#C8E6C9;
    padding: 5px;
    border-radius: 5px;
    color: #1B5E20;
}
.doc-custom-test{
    background-color:#E0E0E0;
    padding: 5px;
    border-radius: 5px;
    color: #9E9E9E;
}
.amc-one-year{
    background-color:#FFCCBC;
    padding: 5px;
    border-radius: 5px;
    color: #FF5722;
}
.service-charges-others{
    background-color:#FFECB3;
    padding: 5px;
    border-radius: 5px;
    color: #FFA000;
}
.default-custom{
    background-color:#BBDEFB;
    padding: 5px;
    border-radius: 5px;
    color: #1565C0;
}
.amc-for-two-Year{
    background-color:#ffcdd2;
    padding: 5px;
    border-radius: 5px;
    color: #d32f2f;
}
.amc-for-three-Year{
    background-color:#F8BBD0;
    padding: 5px;
    border-radius: 5px;
    color: #C2185B;
}
.camc-for-one-year{
    background-color:#E1BEE7;
    padding: 5px;
    border-radius: 5px;
    color: #7B1FA2;
}
.camc-for-two-year{
    background-color:#D1C4E9;
    padding: 5px;
    border-radius: 5px;
    color: #512DA8;
}
.camc-for-three-year{
    background-color:#C8E6C9;
    padding: 5px;
    border-radius: 5px;
    color: #1B5E20;
}
.extended-warranty-for-one-year{
    background-color:#B2EBF2;
    padding: 5px;
    border-radius: 5px;
    color: #0097A7;
}
.extended-warranty-for-two-year{
    background-color:#B2DFDB;
    padding: 5px;
    border-radius: 5px;
    color: #00796B;
}
.extended-warranty-for-three-year{
    background-color:#C8E6C9;
    padding: 5px;
    border-radius: 5px;
    color: #388E3C;
}