<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
  <ion-title>Options</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="onClickNewCustomer()">
        New Customer
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="onClickExistingCustomer()">
        Existing Customer
      </ion-button>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col size="6">
      <ion-button (click)="onClickNewOrder()">
        New Order
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="onClickOrderStatus()">
        Order Status
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="onClickfinStatus()">
        Financial Status
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
