<ion-header>
  <ion-toolbar class="cssion-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

<p>Copyright 2018 Vetina Healthcare LLP. All Rights Reserved. You may not use this file except in compliance with the license file accompanying this app. This app is distrubuted on an AS IS BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.</p>
<br>
<p>Petregistry POS for VetCoins redumption,Pet Shop / Retailer and Distributor can use this app to sign-up using their regestered mobile number with Vetina. You can contact your Salse Rep for more information on how to use this app</p>
</ion-card-content>
</ion-card>
</ion-content>
