.footer-back-color{
    background-color: white;
}
.footer-btn-color{
    background-color: #F39E20 !important;
    height:35px !important;
}
.login-item{
    --border-width: 1px !important;
    margin-top: 20px;
}