// ion-content{
//     --ion-background-color:#DDDD !important;
// }

.terms-content{
    margin: 10px;
    border: thin;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: #DDDD;
    
}
.agreement-content
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}

@media only screen and (max-width:768px){
    .agreement-content
{
    width: 100%;
}
}
    
