<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MPR List
    </ion-title>
    <ion-buttons slot="end" style="font-size: 1.8rem;" routerDirection="root" routerLink="/home">
      <ion-icon name="home"></ion-icon>
    </ion-buttons>
    <ion-buttons (click)="refreshPage()" slot="end" style="font-size: 1.8rem;">
      <ion-icon name="refresh"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="card-custom" *ngFor="let mpr of MPRList" (click)="detailsClick(mpr)" padding>
      <ion-row>
        <ion-col size="4">
         <ion-label class="complain-custom">
           {{mpr.JobTitle}}
         </ion-label>
        </ion-col>
        <ion-col size="4" text-left>
         <ion-label>
           {{mpr.mpr_date | date:'dd-MMM-yyyy'}}
         </ion-label>
        </ion-col>
        <ion-col size="4" text-end>
         <ion-label class="doc-custom">
           {{mpr.role_name}}
         </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
         <ion-label class="">
           {{mpr.department_name}}
         </ion-label>
        </ion-col>
        <ion-col size="2" text-end>
          <div class="arrow-col">
           <ion-icon name="arrow-forward" class="arrow-custom"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
