<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <!-- <ion-icon slot="end" style="font-size: 35px" name="log-out" (click)="onLogout()"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-padding>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center" color="primary">
              <h1 *ngFor="let profile of defaultprofile">{{profile.name}}</h1>
            </ion-text>
          <ion-list>
              <ion-item>
                  <ion-label color="primary" position="stacked">Client</ion-label>
                  <ion-text *ngFor="let profile of defaultprofile">{{profile.defaultClient$_identifier}}
                  </ion-text>
              </ion-item>
              
              <ion-item>
                <ion-label color="primary" position="stacked">Role</ion-label>
                <ion-select #C [ngModel]="selectedRole" (ionChange)="onChange(C.value)" multiple="false" placeholder="Select Role">
                  <ion-select-option *ngFor="let selectedRole of rolelist" [value]="selectedRole">{{selectedRole.role$_identifier}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label color="primary" position="stacked">Organization</ion-label>
                  <ion-select #F [ngModel]="selectedOrg" (ionChange)="onOrgChange(F.value)" multiple="false" placeholder="Select Organization">
                    <ion-select-option *ngFor="let selectedOrg of userorglist |orderby:'asc':'organization$_identifier':'string'" [value]="selectedOrg">{{selectedOrg.organization$_identifier}}</ion-select-option>
                  </ion-select>
                </ion-item>
              <ion-item>
                  <ion-label color="primary" position="stacked">Warehouse</ion-label>
                  <ion-select #W [ngModel]="selectedwarehouse" (ionChange)="onWarehouseChange(W.value)" multiple="false" placeholder="Select Warehouse">
                    <ion-select-option *ngFor="let selectedwarehouse of orgwarehouselist" [value]="selectedwarehouse">{{selectedwarehouse._identifier}}</ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
                  <ion-button (click)="onClick()">
                        Apply
                    </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="danger">{{txtmsg}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-card>
</ion-content>
