ion-cart{
    background-color: powderblue;
}
ion-icon {
    font-size: 6em;
}
ion-card{
    margin-top: 3px !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    
}
.dashboard-count-card{
    height: 100%;
}

ion-content{
    --background :f5f5f5;
}
h5{
    font-style:normal!important;
    color: black!important;
    font-size: large!important;
    
  }
  .dashboard-keywidgets{
      font-size: large;
      font-weight: 700;

       }