
// ::ng-deep {

// @import '../../assets/styles/ngx-datatable/_index';
// @import '../../assets/styles/ngx-datatable/_material';
// @import '../../assets/styles/ngx-datatable/bootstrap';
// @import '../../assets/styles/ngx-datatable/_icons.css';


// }

@media screen and (max-width: 800px) {
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: normal !important;
       // text-align: center !important;
        vertical-align: middle !important;
      }
      
  }



.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
    font-weight: bold !important;
}
.ngx-datatable.bootstrap .datatable-header{
    font-weight: bold !important;
    background-color: #D7CCC8 !important;
  }